*{
    padding: 0px;
    margin: 0px;
    font-family: Lota Grotesque, sans-serif;
}

header{
    display: inline-block;
    background-color: black;
    color: white;
    height: 30px;
    padding-top: 8px;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

.header-left{
    display: inline-block;
    margin-right: 550px;
}

.header-left li{
    display: inline-block;
    padding-left: 20px;
}
.header-left li:first-child{
    padding-left: 200px;
}


.header-right{
    display: inline-block;
}

.header-right li{
    display: inline-block;
    padding-left: 9px;
}

.header-right li:first-child{
    border-left: 2px solid white;
}

.header-right li:nth-child(2){
    border-right: 2px solid white;
}

.header-right li:nth-child(3){
    border-right: 2px solid white;
}



footer{
    background-color: black;
    color: white;
    width: 100%;
}

.footer-top{
    padding-top: 30px;
    border-bottom: 2px solid white;
    padding-bottom: 60px;
    margin-left: 38px;
    margin-right: 41px;
}

#footer-top-1{
    display: inline-block;
}

#footer-top-2{
    display: inline-block;
    margin-left: 100px;
}

#footer-top-2 li{
    list-style: none;
    padding-top: 6px;
}

#footer-top-2 li:first-child{
    font-weight: bold;
}

#footer-top-3{
    display: inline-block;
    margin-left: 100px;
}

#footer-top-3 li:first-child{
    font-weight: bold;
}

#footer-top-3 li{
    list-style: none;
    padding-top: 4px;
}

#footer-top-4{
    display: inline-block;
    margin-left: 100px;
}

#footer-top-4 li:first-child{
    font-weight: bold;
}

#footer-top-4 li{
    list-style: none;
    padding-top: 4px;
}

#footer-top-5{
    display: inline-block;
    margin-left: 100px;
}

#footer-top-5 li:first-child{
    font-weight: bold;
}

#footer-top-5 li{
    list-style: none;
    padding-top: 4px;
}

#footer-top-6{
    display: inline-block;
    margin-left: 100px;
}

#footer-top-6 li:first-child{
    font-weight: bold;
}

#footer-top-6 li{
    list-style: none;
    padding-top: 4px;
}

#footer-mid-1{
    display: inline-block;
    margin-left: 200px;
}

#footer-mid-2{
    margin-top: 30px;
    display: inline-block;
    margin-left: 300px;
}

#footer-mid-2 li{
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    height: 29px;
    width:125px;
    border-radius: 20px;
}

#footer-mid-3{
    display: inline-block;
    margin-left: 196px;
}

#footer-mid-3 li{
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    height: 29px;
    width:125px;
    border-radius: 20px;
}

#footer-mid-3 li:first-child{
    width:200px;
}

#footer-mid-3 input{
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
}

.footer-bottom{
    margin-left: 200px;
    padding-bottom: 20px;
}


main{
    background-color: (255, 255, 255, 0.2);
}


.main-slider{
    background-image: url(../image/sm.png.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

#main-slider-top{
    padding-top: 20px;
}

#main-slider-top li{
    display: inline-block;
    padding-left: 50px;
}

#main-slider-top li:first-child{
    padding-right: 285px;
    padding-left: 160px;
    font-size: x-large;
}

#main-slider-center{
    width: 360px;
    font-size: x-large;
    color: white;
    margin-top: 90px;
    margin-left: 160px;
}


#main-slider-bottom{
    background: linear-gradient(gray, transparent);
    height: 58px;
    margin-top: 179px;
}

#main-slider-bottom p{
    display: inline-block;
    color: white;
    padding-right: 30px;
    padding-top: 10px;
    border-right: 3px white solid;
}

#main-slider-bottom p:first-child{
    border-left: 3px white solid;
}

.main-slider-p1{  
    margin-left: 192px;
}


.main-tariff-designer{
    margin-top: 200px;
}

#main-tariff-designer-1{
    margin-left: 270px;
    display: inline-block;
    width: 370px;
}

#main-tariff-designer-1 h1{
    font-size: xx-large;
}

#mmain-tariff-designer-1 p{
    color: gray;
}

#a{
    background-color: darkorange;
    width: 175px;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    border-radius: 30px;
}

#main-tariff-designer-2{
    display: inline-block;
    background-image: url(../image/551x323-1.png);
    margin-left: 100px;
    width: 551px;
    height: 324px;
}

#tariff-packs{
    width: 180px;
}

.main-tariff-packs{
    margin-left: 100px;
    margin-top: 190px;
}

.main-tariff-packs-1{
    display: inline-block;
    margin-right: 160px;
}

.main-tariff-packs-2{
    display: inline-block;
    padding-left: 100px;
}


.main-tariff-packs h1{
    font-size: x-large;
    font-weight: 800;
    display: inline-block;
    padding-right: 130px;
}

.main-tariff-packs a{
    color: gray;
    display: inline-block;
}

#main-number-1{
    display: inline-block;
    margin-left: 150px;
}

#main-number-1 h1{
    font-size: xx-large;
    padding-right: 100px;
}

#main-number-1 a{
    background-color: darkorange;
    height: 100px;
    width: 200px;
}

#main-number-2{
    display: inline-block;
    margin-top: 140px;
    margin-left: 80px;
}

.main-apps{
    margin-left: 327px;
    margin-top: 100px;
}

.main-apps h2{
    display: inline-block;
    padding-right: 393px;
}

.main-apps p{
    display: inline-block;
    color: gray;
    
}

#main-apps-box{
    height: 100px;
    width: 330px;
    border: 1px solid black;
    border-radius: 6px;
    display: inline-block;
    margin-right: 102px;
}

#main-application-left{
    display: inline-block;
    margin-left: 200px;
    width: 360px;
}
#main-application-left h1{
    font-size: xx-large;
}

#main-application-left p{
    color: gray;
    padding-right: 30px;
}

#main-application-left li{
    display: inline-block;
    text-align: center;
    border: 2px solid black;
    height: 29px;
    width:125px;
    border-radius: 20px;
}

#main-application-left a{
    color: black;
}

#main-application-mid{
    width: 14%;
    display: inline-block;
    margin-top: 100px;
}

#main-application-right{
    margin-bottom: 200px;
    display: inline-block;
    margin-left: 180px;
}


#main-application-right ul{
    display: inline-block;
}

#main-application-right li{
    list-style: none;
    background-color: purple;
    margin-top: 10px;
    width: 400px;
    height: 100px;
    color: white;
    text-align: center;
    padding-top: 40px;
}


.main-4G{
    background-color: lightpink;
    width: 1287px;
    height: 300px;
    padding-top: 150px;
    padding-left: 200px;
}
.main-4G h1{
    font-size: xx-large;
}

.main-4G p{
    color: gray;
}

.main-balance{
    margin-left: 200px;
    margin-top: 100px;
}

.main-balance-1{
    display: inline-block;
}

.phoneNumber{
    width: 300px;
    height: 30px;
    border-radius: 9px;
    text-align: center;
}

.main-balance-1 .amount{
    display: inline-block;
}

.amount input{
    width: 100px;
    height: 30px;
    border-radius: 9px;
    text-align: center;
}

.main-balance-1 .Select-Amount{
    display: inline-block;
    padding-left: 50px;
}

.main-balance-1 li{
    display: inline-block;
    height: 30px;
    width: 40px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;

}

.main-balance-1 h1{
    font-size: x-large;
    padding-right: 60%;
}

.main-balance-2{
    display: inline-block;
}

#Pay{
    background-color: darkorange;
    height: 30px;
    width: 150px;
    border-radius: 16px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 100px;
}